<!-- wyszukiwanie notatki po nazwie -->

<div >
    <div class="jumbotron col-md-8 col-md-offset-2">
        <h1 class="page-header">Utwórz notatkę:</h1>
    </div>
    <form name="myForm" class="create-form jumbotron col-md-8 col-md-offset-2" role="form" ng-submit="addNewNote(newNote)">
        <div class="form-group chceckbox">
            <label for="newNote.tag">Ważne
                <input type="checkbox" ng-model="newNote.tag">
            </label>
        </div>

        <div class="form-group">
            <label for="newNote.category">Kategoria</label>
            <div class="input-group">
                <select name="newNote.category" id="newNoteCategory" ng-options="cat for cat in categories" 
                        ng-model="newNote.category" class="form-control" required>
                </select>
                <span class="input-group-btn">
                    <button ng-hide="addCategoryInput" class="btn btn-default" type="button" ng-click="addCategoryInput = true">Dodaj nową</button>
                    <button ng-show="addCategoryInput" class="btn btn-default" type="button" ng-click="addCategoryInput = false">Anuluj</button>
                </span>
            </div>
        </div>
        <div ng-show="addCategoryInput"  class="form-group">
            <label for="newCategory">Dodaj kategorię</label>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="newCategory">
                
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="addNewCategory(newCategory)" type="button">Dodaj</button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="newNote.title">Tytuł</label>
            <input type="text" name="newNoteTitle" required class="form-control" id="newNoteTitle" ng-model="newNote.title">
            
        </div>
        <div class="form-group">
            <label for="newNote.content">Treść</label>
            <textarea class="form-control" required id="newNoteDescription" ng-model="newNote.description" style="resize: none; height: 200px"></textarea>
        </div>
        <button type="submit" class="btn btn-info btn-lg">Wyślij</button>
        <button type="button" class="btn btn-default btn-lg pull-right" ng-click="cancel()">Anuluj</button>
    </form>

</div>