<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="col-md-12  jumbotron">
    <h1 class="page-header">Moje notatki</h1>
</div>
<div ng-controller="CategoryCtrl"> 
    <div class="col-md-3 row">
        <div class="row" >
            <div class="sidebar col-md-11">
                <h3>Kategorie:</h3>
                <ul class="nav nav-pills nav-stacked" >  
                    <li ng-class="{'active':isCurrentCategoryNull()}"><a  href="" ng-click="setCurrentCategory('!!')"> wszystkie </a></li>
                    <li hide-me ng-repeat="category in categories" ng-class="{'active':isCurrentCategory(category)}">
                        <a href="" ng-click="setCurrentCategory(category)">{{category}}</a>
                    </li>  
                </ul> 
            </div>
        </div>
    </div>
    <section class="col-md-9">
        <div ng-controller="TabCtrl">
            <h3>Notatki:</h3>
            <ul class="nav nav-pills list-inline">
                <li ng-class="{'active':isCurrentTab('-1')}" ng-click="setCurrentTab('-1', 'partials/note-list.html'); setIfImportantTab('!!')"><a >Wszystkie <span class="badge">{{lenght}}</span></a> </li>
                <li ng-class="{'active':isCurrentTab(0)}"><a href="" ng-click= "setIfImportantTab(true); setCurrentTab(0, 'partials/note-list.html')">Ważne</a></li>
                <li ng-repeat="note in notesTab track by note.id" ng-click="setCurrentNote(note); setCurrentTab(note.id, 'partials/note-edit.html'); setIfImportantTab('!!')" ng-class={"active":isCurrentTab({{note.id}})}  >
                    <a href="" >Edytuj: {{::note.title}}&nbsp;&nbsp; 
                        <span class="glyphicon glyphicon-remove center-block pull-right" ng-click="removeTab(note)"></span>
                    </a></li>
            </ul>
            <div ng-include="currentUrl"></div>
        </div>
</div>
